@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Tangerine:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: #cdc6be;
}

a {
    text-decoration: none;
    color: #cdc6be;
}

    /* Theme Mode button css */

body.dark{background: #141412;}

.checkbox{
    opacity: 0;
    position: absolute;
}

.checkbox-label{
    background-color: #42423f;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    left: 30px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.fa-moon{color: #f1c40f;}

.fa-sun{color: #f39c12;}

.checkbox-label .ball{
    background-color: #cdc6be;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball{
    transform: translateX(24px);
}

    /* Theme Button Css Ends */


.website-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    padding: 5em;
    color: #cdc6be;
    mix-blend-mode: difference;
}

.hero-img{
    margin-top: 4em;
    width: 100%;
    height: 100%;
    font-family: 'Tangerine';
    font-size: 50px;
    z-index: 2;
}

.background-img{
    margin-top: 4em;
    z-index: 0;
}

img{
    width: 100%;
    height: 100%;
}

nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 2em;
    color: #cdc6be;
    mix-blend-mode: difference;
    z-index: 3;
}

nav > div{
    flex: 1;
}

.logo{
    text-align: left;
    font-family: 'Tangerine';
    font-size: 30px;
}

.logo a{
    text-decoration: none;
    font-size: 70px;
    font-weight: bold;
    color: #cdc6be;
}

.theme-btn{
position: absolute;
right: 150px;
top: 22.5px;
}



.toggle-btn{
    display: flex;
    justify-content: end;
}

.menuBtn{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1.75em 2em 1.5em 2em;
    background: rgba(255, 255, 255, 0);
    outline: none;
    border: none;
    width: 28px;
    height: 20px;
    transition: all 250ms ease-out;
    cursor: pointer;
}

.menuBtn:before,
.menuBtn:after{
    content: "";
    width: 40px;
    height: 2px;
    position: absolute;
    background: #cdc6be;
    transition: all 250ms ease-out;
    will-change: transform;
}

.menuBtn:before{
    transform: translateY(-3px);
}

.menuBtn:after{
    transform: translateY(3px);
}

.active.menuBtn:before{
    transform: translateY(0) rotate(45deg);
}

.active.menuBtn:after{
    transform: translateY(0) rotate(-45deg);
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #141412;
    clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
    will-change: transform;
}

.overlay-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-item{
    display: flex;
    cursor: pointer;
    clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
}

.menu-item p{
    position: relative;
    text-align: center;
    font-family: 'Fredericka the Great';
    font-size: 15vw;
    line-height: 80%;
    will-change: transform;
    transition: letter-spacing 0.3s;
}

.menu-item p:hover{
    letter-spacing: 0.075em;
}

.sub-nav{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 0.5em;
    opacity: 0;
}

.sub-nav p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: #cdc6be;
}

@media(max-width: 900px){
    .logo a{
        font-size: 20px;
    }
}